{% extends 'base.html' %}
{% block content %}
<div class="card mt-5 ms-5 mb-6" style="max-width: 580px;">
  <div class="row g-0">
    <div class="col ">
      <img src="{{p.image.url}}"height="100%" width="100%"  class="img-fluid rounded-start" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">{{p.name}}</h5>
          <p class="card-text">{{p.desc}}</p>
        <p class="card-text">{{p.price}}</p>
         <p class="card-text">{{p.stock}}</p>


        {% if user.is_superuser == True %}
        {% if p.stock == 0 %}
        <h2>Out of stock</h2>
         <a href="{% url 'admin:index'  %}"  class="btn btn-success mt-5">Add Stock</a>
        {% else %}
        <h2>Product in stock</h2>
         <a href="{% url 'admin:index'  %}"  class="btn btn-success mt-5">Add Stock</a>
        {% endif %}
        {% else %}
        {% if p.stock == 0 %}
        <h2>Out of stock</h2>
        {% else %}

        <a href="{% url 'cart:addtocart' p.name %}" style="position:relative;" class="btn btn-success">Add To Cart</a>
        {% endif %}
        {% endif %}
      </div>
    </div>
  </div>
</div>

{% endblock %}