{% extends 'base.html' %}
{% load static %}
{% block content %}
<center><h1 >Order</h1>
<form method="POST" >
  {% csrf_token %}
  <div class="form-group">
    <label >Address</label>
    <input type="text" class="form-control " name="a"placeholder="enter address">
  </div>
  <div class="form-group">
    <label>Phone number</label>
    <input type="number" class="form-control" name="p" placeholder="enter phone number">

  </div>
    <div class="form-group">
    <label >Account no</label>
    <input type="number" class="form-control" name="n" placeholder="enter accno">
  </div>



    <div>
    <button style="margin-top:50px;" type="submit" class="btn btn-success ">Submit</button>
    </div>
</form>
</center>




{% endblock %}
