{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container" style="margin-bottom:100px;">
    <center>
        <h5>You have searched for {{query}}</h5>
    </center>
        {% if p %}
    <div class="row ">
    {% for i in p %}
  <div class="col-sm-4 mt-2">
    <div class="card">
      <img src="{{i.image.url}}" height="300px" width="100%" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">{{i.name}}</h5>
           <h6>{{i.stock}}</h6>
           <a href="{% url 'shop:details' i.name %}" style="position:relative;left:42%" class="btn btn-success">Details</a>







      </div>
    </div>
  </div>
        {% endfor %}
        </div>
{% else %}
    <h6>No resilt found</h6>

{% endif %}

</div>

{% endblock %}

<!--echo "# django-projects" >> README.md-->
<!--git init-->
<!--git add README.md-->
<!--git commit -m "first commit"-->
<!--git branch -M main-->
<!--git remote add origin https://github.com/meenuhari/django-projects.git-->
<!--git push -u origin main-->